body {
	padding-top: 35px;
}

h3, .h3 {
	font-size: 21px;
}

#logo-img {
	background: url("sps_logo.png") no-repeat;
	background-size: 35px;
	height: 35px;
	width: 35px;
	float: left;
	margin: -8px 7px 0 0;
}

.dropdown-toggle {
	color: #9d9d9d !important;
	background-color: transparent !important;
	padding: 15px;
	display: block;
	position: relative;
	line-height: 20px;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
	color: #fff !important;
	background-color: transparent;
	text-decoration: none;
}

#login-other-options a:focus, #login-other-options a:hover {
	text-decoration: none !important;
}

.page-header-sps {
	margin-top: 25px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.btn-action-sps {
	padding: 3px 15px;
}

.join-scenario {
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.scenario-disabled {
	cursor: not-allowed;
}

.scenario-name {
	cursor: pointer;
	cursor: hand;
}

.scenario-name:hover {
	color: #337ab7;
}

.active-scenario {
	color: #F02C35;
}

.legend-active-scenario {
	margin-top: 8px;
	color: #666;
	font-style: italic;
}

.page-header-sps .col-md-10, .page-header-sps .col-md-2 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.back-next-btn {
	margin-top: 25px;
}

.modal-open {
	padding-right: 0 !important;
}

.top-buffer {
	margin-top: 10px;
}

.no-more-users {
	margin-top: 30px;
	position: absolute;
}

.right-buffer {
	margin-right: 5px;
}

#inviteActors .table {
	width: 400px !important;
}

.modal-body {
	padding: 5px 30px 10px;
}

.modal-header {
	padding: 0 15px 7px;
}

.modal-footer {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}

.btn-primary {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #3071a9;
	border-color: #285e8e;
}

.btn-join {
	color: #ffffff;
	background-color: #61ba9e;
	border-color: #4fb393;
}

.btn-join:hover, .btn-join:focus, .btn-join:active, .btn-join.active, .open > .dropdown-toggle.btn-join {
	color: #ffffff;
	background-color: #46a285;
	border-color: #3b8970;
}

#connectivity-matrix, #probability-matrix {
	font-size: 12px;
}

.highcharts-container > svg {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.obj-switcher-separator {
	margin-right: 15px;
}